.invitation-modal{
    top: -300px;
    z-index: 1;
    background-color:cornsilk;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 0, 0);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 8px;
}
