.videos{
    border-style:solid;
    border-color: aliceblue;
    border-width: 1px;
    width: 100%;
    display: inline-block;
}
.accept-button{
    cursor: pointer;
    right: 20px;
}
.video-col{
    height: 500px;
}
